@media screen and (min-width: 1024px){
    *{
        margin: 0;
        padding: 0;
    }
    .construction{
        height: 5vh;
        width: 100%;
        background-color: #000;
    }
    .m-container{
        height: 100vh;
        width: 100vw;
        background-color: white;
    }
    .marq{
        color: white;
        font-family: monospace;
        padding-top: 1vh;
        font-size: 2.5vh;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    /* .main-a{

    } */
    .blur-bg{
        width: 50%;
        height: 70%;
        background-color: lightgray;
        opacity: 0.3;
        margin-top: 8.5%;
        margin-left: 5%;
        position: absolute;
    }
    .my-img{
        width: 26%;
        height: 80%;
        margin-top: 3%;
        margin-left: 16.5%;
        background-color: white;
        position: absolute;
        z-index: 1;
    }
    img{
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    /* .main-b{

    } */
    .my-name{
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        font-size-adjust: 0.4;
        font-weight: 700;
        margin-top: 10%;
        position: absolute;
        margin-left: 60%;
        letter-spacing: 5px;
    }
    .ul-design{
        position: absolute;
        margin-top: 10%;
        margin-left: 60%;
        font-size: 45px;
        font-weight: bold;
        color: orangered;
    }
    .my-info{
        position: absolute;
        margin-top: 16%;
        margin-left: 60%;
        margin-right: 10%;
        font-size: 16px;
        font-weight: 450;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.8;
        letter-spacing: 2px;
        color: black;

    }
    .project-button{
        position: absolute;
        display: block;
        height: 50px;
        width: 270px;
        background-color: black;
        margin-top: 31%;
        margin-left: 60%;
        text-align: center;
        font-size: 13px;
        letter-spacing: 2px;
        line-height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 550;
        border: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .project-button:hover{
        background-color: purple;
        transition: all 0.35s;
    }
    .project-link{
        color: white;
        text-decoration: none;
    }
    .icons-p{
        position: absolute;
        display: flex;
        margin-left: 60%;
        margin-top: 38%;
        font-size: 30px;        
    }
    .fb-icon{
        margin-right: 6px;
        color: black;
    }
    .fb-icon:hover{
      transition: all .35s;
        color: #3b5998;
    }
    .insta-icon{
        margin-right: 6px;
        color: black;
    }
    .insta-icon:hover{
      transition: all .35s;
        color: #C13584;
    }
    .twitter-icon{
        margin-right: 6px;
        color: black;
    }
    .twitter-icon:hover{
      transition: all .35s;
        color: #00acee;
    }
    .whatsapp-icon{
      color: black;
    }
    .whatsapp-icon:hover{
      transition: all .35s;
      color: #25d366;
    }
  .linkedin-icon{
        margin-right: 7px;
        color: black;
    }
    .linkedin-icon:hover{
        transition: all .35s;
        color:  #0e76a8;
    }
  .github-icon{
        margin-right: 7px;
        color: black;
    }
    .github-icon:hover{
        transition: all .35s;
        color: #964B00;
    }
    .s-container{
        height: 190vh;
        width: 100vw;
        background-color: #f5f6f6;          
    }
    .cur-project{
        position: absolute;
        margin-top: 5%;
        margin-left: 16.5%;        
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        color:  #000;
        line-height: 1.2;
        letter-spacing: 5px;
        font-size-adjust: 0.4;
        font-weight: 700;
    }
    .design-2{
        position: absolute;
        color:  orangered;
        margin-left: 16.5%;
        margin-top: 6%;
        font-size: 75px;
        font-weight: 900;
    }
    .second-a,.third-a{
        position: absolute;
        margin-left: 16.5%;
        margin-top: 18%;
        height: 42%;
        width: 60%;
    }
    .second-b,.third-b{
        position: absolute;
        margin-left: 16.5%;
        margin-top: 42%;
        height: 42%;
        width: 60%;
    }
    .second-c,.third-c{
        position: absolute;
        margin-left: 16.5%;
        margin-top: 66%;
        height: 42%;
        width: 60%;
    }
    .project-img{
        position: absolute;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        height: 85%;
        width: 28%;
    }
    .img-b{
        border-radius: 5px;
    }
    .project-details{
        position: absolute;
        margin-left: 40%;
        height: 100%;
        width: 50%;
    }
    .details-title{
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        letter-spacing: 2px;
        font-size-adjust: 0.4;
        font-size: 14px;
        color:  #000;
        margin-top: 9%;
        height: 10%;
        width: 50%;
    }
    .details-con{
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.8;
        color:  #000;
        margin-top: 18%;
        height: 40%;
        width: 100%;
    }
    
    .details-link{
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 1px;
        color:  #000;
        margin-top: 46%;
        height: 10%;
        width: 50%;
        display: flex;
        cursor: pointer;
    }
    .link-ref{
        color: #000;
        text-decoration: none;
    }
    .link-ref:hover{
        color: red;
    }
    .details-link:hover{
        color: red;
    }
    .ioni{
        margin-left: 3%;
        padding-top: 1.2px;
        font-size: 8px;
    }
    .t-container{
        height: 190vh;
        width: 100%;
        background-color: white;
    }
    
    .f-container{
        height: 35vh;
        width: 100%;
        background-color: #000;
      display: flex;
      flex-direction: column;
    } 
    .good-res{
        position: absolute;
        margin-top: 5%;
        margin-left: 16.5%;           font-size: 35px;
        font-family: 'Montserrat', sans-serif;
        color:  #000;
        line-height: 1.2;
        letter-spacing: 5px;
        font-size-adjust: 0.4;
        font-weight: 700;
    }
  .f-intro{
    display: none;
  }
    .f-intro2{
      position: absolute;
      color: #fff;
      margin-top: 50px;
      text-align: center;
      left: 40%;
      font-size: 2em;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }
  .f-info{
    position: absolute;
    margin-top: 110px;
    left: 26%;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
  }
  .f-button{
    position: absolute;
        left: 41%;
        margin-top: 160px;
        display: block;
        color: #0078FF;
        height: 5vh;
        width: 18%;
        background-color:             #fff;
        border: 2px solid             #0078FF;
        border-radius: 10px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        line-height: 3;
        font-size: 15px;
        font-weight: bold;
  }
  .f-ref{
    text-decoration: none;
    color: #0078FF;
  }
  .l-container{
        height: 10vh;
        width: 100%;
        background-color: #fff;
    }
    .icons-l{
        position: absolute;
        display: flex;
        margin-left: 15vh;
        margin-top: 3.2vh;
        font-size: 2vw;
        
    }
    .my-cpy{
        position: absolute;
        display: block;
        height: 3vh;
        width: 35vw;
        margin-left: 55vw;
        margin-top: 3.2vh;
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-align: right;
        line-height: 3.2;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

@media screen and (max-width: 767px){
    *{
        padding: 0px;
        margin: 0px;
    }
    .construction{
        height: 4vh;
        width: 100%;
        background-color: #000;
    }
    .marq{
        color: white;
        font-family: monospace;
        padding-top: 0.8vh;
        font-size: 2vh;
        font-weight: bold;
        letter-spacing: 10px;
        text-transform: uppercase;
    }
    .m-container{
        height: 118vh;
        width: 100vw;
        background-color: white;
    }
    /* .main-a{
        
    } */
    .blur-bg{
        height: 50vh;
        width: 100vw;
        background-color: #e1e5e6;
        opacity: 0.5;
        margin-top: 10vh;
        position: absolute;
    }
    .my-img{
        height: 65vh;
        width: 86vw;
        background-color: white;
        position: absolute;
        margin-left: 7vw;
        margin-top: 3vh;
    }
    img{
        height: 100%;
        width: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    }
    /* .main-b{
        
    } */
    .my-name{
        position: absolute;
        margin-left: 4vh;
        margin-top: 72vh;
        font-weight: 700;
        font-size: 26px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 2px;        
    }
    .ul-design{
        position: absolute;
        margin-left: 4vh;
        margin-top: 70vh;
        font-size: 55px;
        font-weight: bold; 
        color: orangered;
        font-family: 'Montserrat', sans-serif;
        border-radius: 15px;
    }
    .my-info{
        position: absolute;
        margin: 79vh 8vh 0 4vh;
        font-size: 14px;
        font-weight: 430;
        word-spacing: 2px;
        font-family: 'Montserrat', sans-serif;
        line-height: 2.1;

    }
    /* button */
    .project-button{
        margin-left: 4vh;
        margin-top: 101vh;
        position: absolute;

    }
    .project-link{
        display: block;
        height: 6vh;
        width: 60vw;
        background-color: black;
        color: white;
        text-decoration: none;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        line-height: 6vh;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
        border: none;
        border-radius: 3px;
        letter-spacing: 2px;
    }
    .icons-p{
        position: absolute;
        display: flex;
        margin-left: 4vh;
        margin-top: 111vh;
        font-size: 8vw;
    }
    .fb-icon{
        margin-right: 7px;
        color: black;
    }
    .fb-icon:hover{
      transition: all .35s;
        color: #3b5998;
    }
    .insta-icon{
        margin-right: 7px;
        color: black;
    }
    .insta-icon:hover{
      transition: all .35s;
        color: #C13584;
    }
    .github-icon{
        margin-right: 7px;
        color: black;
    }
    .github-icon:hover{
        transition: all .35s;
        color: #964B00;
    }
    .twitter-icon{
        margin-right: 7px;
        color: black;
    }
    .twitter-icon:hover{
      transition: all .35s;
        color: #00acee;
    }
    .linkedin-icon{
        margin-right: 7px;
        color: black;
    }
    ..linkedin-icon:hover{
        transition: all .35s;
        color:  #0e76a8;
    }
    .whatsapp-icon{
      color: black;
    }
    .whatsapp-icon:hover{
      transition: all .35s;
      color: #25d366;
    }

    .s-container{
        height: 182vh;
        width: 100vw;
        background: #f5f6f6;
    }
    .cur-project{
        position: absolute;
        margin-top: 8vh;
        margin-left: 4vh;
        margin-right: 20vh;
        font-size: 26px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color:  black;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    .design-2{
        position: absolute;
        margin-left: 4vh;
        margin-top: 9vh;
        font-size: 65px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: orangered;
    }
    .second-a,.third-a{
        position: absolute;
        height: 50vh;
        width: 80vw;
        margin-left: 4vh;
        margin-top: 23vh;
        color: black;
    }
    .second-b,.third-b{
        position: absolute;
        height: 50vh;
        width: 80vw;
        margin-left: 4vh;
        margin-top: 76vh;
        color: black;       
    }
    .second-c,.third-c{
        position: absolute;
        height: 50vh;
        width: 80vw;
        margin-left: 4vh;
        margin-top: 130vh;
        color: black;       
    }
    .project-img{
        position: absolute;
        height: 15vh;
        width: 15vh;
    }
    .project-details{
        position: absolute;
        height: 30vh;
        width: 77vw;
        margin-top: 20vh;
    }
    .details-title{
        position: relative;
        height: 4vh;
        width: 50vw;
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        line-height: 30px;
        letter-spacing: 1px;
    }
    .details-con{
        position: relative;
        height: 18vh;
        width: 70vw;
        margin-top: 1vh;
        line-height: 2;
        font-size: 14px; 
        font-family: 'Montserrat', sans-serif;   
    }
    .details-link{
        display: flex;
        position: relative;
        height: 4vh;
        width: 50vw;
        margin-top: 1vh;
        font-weight: 900;
        font-size: 12px;
        line-height: 1.5;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        cursor: pointer;
    }
    .link-ref{
        color: #000;
        text-decoration: none;
    }
    .link-ref:hover{
        color: red;
    }
    .details-link:hover{
        color: orangered;
    }
    .ioni{
        width: 5vw;
        height: 4vh;
        line-height: 21px;
        margin-left: 1vh;
        font-size: 12px;
    }
    .t-container{
        height: 185vh;
        width: 100vw;
        background-color: #fff;                
    }
    .good-res{
        position: absolute;
        margin-top: 8vh;
        margin-left: 4vh;
        margin-right: 20vh;
        font-size: 26px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        color:  black;
        letter-spacing: 2px;
        line-height: 1.2;
    }
    .f-container{
        height: 40vh;
        width: 100vw;
        background-color: #000;
    }
    
    .f-intro{
        position: absolute;
        margin-left: 9.7vh;
        margin-top: 4vh;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        letter-spacing: 1px;
        color: #fff;
        text-align: center;
        line-height: 1.5;
    }
  .f-intro2{
    display: none;
  }
    .f-info{
        position: absolute;
        margin-left: 4vh;
        margin-top: 15vh;
        margin-right: 4vh;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        line-height: 1.8;
        letter-spacing: 1px;
    }
    .f-button{
        position: absolute;
        margin-left: 8.9vh;
        margin-top: 28vh;
        display: block;
        color: #0078FF;
        height: 5vh;
        width: 60%;
        background-color: #fff;
        border: 2px solid #0078FF;
        border-radius: 5px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        line-height: 3.5;
        font-size: 12px;
        font-weight: bold;
    }
    .f-ref{
        text-decoration: none;
        color: #0078FF; 
    }
    .l-container{
        height: 8vh;
        width: 100%;
        background-color: #fff;
    }
    .icons-l{
        position: absolute;
        display: flex;
        margin-left: 4vh;
        margin-top: 2.5vh;
        font-size: 7vw;
    }
    .my-cpy{
        position: absolute;
        display: block;
        height: 3vh;
        width: 35vw;
        margin-left: 55vw;
        margin-top: 2.5vh;
        background-color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 8px;
        font-weight: 500;
        text-align: right;
        line-height: 3.2;
        letter-spacing: 2px;
    }
}
